<!-- prescription-modal.component.html -->
<div class="modal-body">
  <h5>Add Prescription</h5>
  
  <div class="mb-3">
    <input [(ngModel)]="newItem" placeholder="Enter item" class="form-control"/>
    <button class="btn btn-sm btn-secondary mt-1" (click)="addItem()">Add</button>
  </div>

  <ul class="list-group mb-3">
    <li class="list-group-item" *ngFor="let item of items; let i = index">
      {{ item }}
      <button class="btn btn-sm btn-danger float-end" (click)="removeItem(i)">x</button>
    </li>
  </ul>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
    <button class="btn btn-success" (click)="send()">Send</button>
  </div>
</div>
